<h1 class="title">Welcome To Henry's Zoo </h1>
  <div class='center-text'>
    <%= link_to 'New Animal?', new_animal_path, class: 'ui black button' %>
  </div>
<br/>
<div class='center-text'>
    <% @animals.each do |animal| %>
  <div class='animal-list'>
      <%= link_to animal.name, animal_path(animal) %>
  </div>
    <% end %>
</div>

